footer{
  box-sizing: border-box;
  text-align: center;
  padding: 0 0 48px 0;

  img {
    width: 18px;
    align-items: center;
  }
}

.coracao {
  vertical-align:middle;
}

footer div p {
  word-spacing: 2px;
}